.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mapContainer {
  position: absolute;
  top: 100px;
  right: 400px;
  left: 400px;
  bottom: 200px;
}

#leafletmap {
  position: relative;
  height: 800px;
  width: 1200px;
  /* top: 200px; */
  background-color: #e9eaef;
  margin: auto;
  margin-bottom: 20px;
}

#paper {
  margin: auto;
  display: "flex";
  flex-direction: "column";
  align-items: "center";
  width: 300px;
  height: 200px;
}

#form {
  width: "100%";
  margin-top: 1px;
  margin-bottom: 20px;
}

#submit {
  margin: 3px, 0px, 2px;
  margin-top: 10px;
}
#container {
  padding-bottom: 20px;
  padding-top: 20px;
}

#coor {
  padding: 10px;
  margin-left: 10px;
}
